* {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-image: url(../images/prsBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: crimson;
}
#myCanvas
{
  height:200px;
  width:1600px;
  max-width:99%;
  min-width:800px;
  position:absolute;
  bottom:0;
  overflow: hidden;
  
}
h1 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
#game {
    text-align: center;
    font-size: 18px;
}
arena {
    height: 19%;
}
.userSelectionContainer {
    float: left;
    background-color: silver;
    border: 3px solid gray;
    width: 30%;
    height: 30%;
}
.computerSelectionContainer {
    float: right;
    background-color: silver;
    border: 3px solid gray;
    width: 30%;
    height: 30%;
}
